# Práctica 2 Parte 1

La primera parte consiste en probar el método implementado en la práctica 1 con diferentes experimentos, en este caso lo probaremos con distintas redes y hacerlo más robusto. Los ejemplos auxiliares serán utilizados para encontrar errores o áreas de oportunidad de nuestro algoritmo.

Para consultar la información de nuestro paquete, vea: [reporte parte 2 práctica 1](https://github.com/optimizacion-2-2022-gh-classroom/practica-1-segunda-parte-LuzVerde23/blob/main/reporte_equipo_2_parte_2_practica_1.ipynb).

In [7]:
import pandas as pd
import numpy as np
#import kale
from MaxFlowAeiu import MaxFlowAeiu

## Ejemplo 1
Para comenzar usaremos el ejemplo de la práctica uno

In [12]:
d = pd.read_csv('d.csv',header=None)

In [16]:
# Generamos el arreglo final de tipo "numpy array"
arreglo = d.to_numpy()

In [17]:
%%time
MF=MaxFlowAeiu(arreglo)

CPU times: user 49 µs, sys: 5 µs, total: 54 µs
Wall time: 72.7 µs

In [18]:
%%time
print("The maximum flow in this network is {}".format(MF.ford_fulkerson()))

The maximum flow in this network is 0
CPU times: user 4.01 ms, sys: 0 ns, total: 4.01 ms
Wall time: 3.54 ms

# Ejemplo 2
Seguimos con un ejemplo de menor escala que trata sobre el transporte de personas en una empresa de autobúses

In [19]:
d2 = [[0,188,240,160,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,170,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,210,180,0,0,0,0,0],
                    [0,0,0,0,0,140,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,130,90,0,0],
                    [0,0,0,0,0,0,0,0,130,0,0,0,0],
                    [0,0,0,0,0,0,0,0,150,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0,0,160,0],
                    [0,0,0,0,0,0,0,0,0,0,0,0,210],
                    [0,0,0,0,0,0,0,0,0,0,0,0,110],
                    [0,0,0,0,0,0,0,0,0,0,0,0,80],
                    [0,0,0,0,0,0,0,0,0,0,0,0,170],
                    [0,0,0,0,0,0,0,0,0,0,0,0,0]]

In [21]:
# Generamos el arreglo final de tipo "numpy array"
arreglo2 = np.array(d2)

In [22]:
%%time
MF1=MaxFlowAeiu(arreglo2)

CPU times: user 32 µs, sys: 0 ns, total: 32 µs
Wall time: 45.8 µs

In [23]:
%%time
print("The maximum flow in this network is {}".format(MF.ford_fulkerson()))

The maximum flow in this network is 0
CPU times: user 3.55 ms, sys: 0 ns, total: 3.55 ms
Wall time: 3.04 ms

## Ejemplo 3
Ahora probaremos con una matriz más grande sobre el transporte de pasajeros en aerolíneas en Estados Unidos

In [24]:
d3=pd.read_csv("https://raw.githubusercontent.com/sid-7/Airline_Maximum_Flow/master/flights.csv")

In [28]:
d3.head()

   Unnamed: 0 Source Destination  Depature  Arrival  capacity
0           0    ORD         ATL       530      829       185
1           1    BOS         ATL       545      854       185
2           2    LAX         SEA       600      900       165
3           3    PHX         ATL       600     1127       185
4           4    SFO         ATL       600     1332       230

In [36]:
d3_1=d3.drop(['Unnamed: 0', 'Depature', 'Arrival'], axis=1)

In [37]:
d3_1.head()

  Source Destination  capacity  Total
0    ORD         ATL       185   2500
1    BOS         ATL       185   1850
2    LAX         SEA       165   1624
3    PHX         ATL       185   1270
4    SFO         ATL       230   1508

In [54]:
d3_2=d3_1.groupby(['Source', 'Destination'], as_index=False)['capacity'].sum()
d3_2.head()

  Source Destination  capacity
0    ATL         BOS      2035
1    ATL         DEN      1440
2    ATL         IAD       884
3    ATL         JFK      1350
4    ATL         ORD      2235

In [57]:
d3_2['capacity'] = pd.to_numeric(d3_2['capacity'], errors='coerce')

In [58]:
d3_3 = d3_2.pivot(index="Source", columns="Destination", values="capacity").fillna(0)

In [59]:
d3_3.head()

Destination,ATL,BOS,DEN,IAD,JFK,ORD,PHX,SEA,SFO
Source,,,,,,,,,
ATL,0.0,2035.0,1440.0,884.0,1350.0,2235.0,1573.0,1180.0,1618.0
BOS,1850.0,0.0,720.0,720.0,751.0,1884.0,640.0,180.0,1380.0
DEN,1688.0,720.0,0.0,1080.0,360.0,2150.0,1372.0,1379.0,1790.0
IAD,938.0,638.0,1180.0,0.0,0.0,938.0,180.0,488.0,1130.0
LAX,2288.0,836.0,2072.0,520.0,2057.0,2525.0,1156.0,1624.0,3842.0

## Conclusiones

Ya vimos que el desempeño de nuestro algoritmo da los mismos resultados que utilizar `Networkx` como `Scipy`, en los tres pudimos obtener el mismo flujo maximo utilizando Ford Fulkerson, lo cual es bueno.
Sabemos que ahora el reto será optimizar este algoritmo y mejorar nuestra propia paqueteria.

## Referencias
* [1] [Palacios E. (2022) Libro de Optimización](https://itam-ds.github.io/analisis-numerico-computo-cientifico/4.optimizacion_en_redes_y_prog_lineal/4.2/Definiciones_generales_de_flujo_en_redes.html)
* [2] [Dumora c. el all. Data Oriented Algorithm for Real Time Estimation of Flow Rates and Flow Directions in Water Distribution Network](https://arxiv.org/pdf/1807.10147.pdf)
* [3] [Max Flow Problem Introduction](https://www.geeksforgeeks.org/max-flow-problem-introduction/)
* [4] [Ford-Fulkerson Algorithm](https://www.programiz.com/dsa/ford-fulkerson-algorithm)
* [5] [Algoritmo de Ford-Fulkerson - Ford–Fulkerson algorithm](https://upwikies.top/wiki/Ford%e2%80%93Fulkerson_algorithm)
* [6] [Oviedo J. (2008) Algoritmo de Ford-Fulkerson Mejorado](http://www.ptolomeo.unam.mx:8080/jspui/bitstream/132.248.52.100/2387/1/gonzalezoviedo.pdf)
* [7] [Building a Smarter (and Cheaper) School Bus System: How a Boston-MIT Partnership Led to New Routes That Are 20% More Efficient and Saved the District $5 Million](https://www.the74million.org/article/building-a-smarter-and-cheaper-school-bus-system-how-a-boston-mit-partnership-led-to-new-routes-that-are-20-more-efficient-use-400-fewer-buses-save-5-million/)
* [8] [Optimazation examples](https://vitalflux.com/convex-optimization-explained-concepts-examples/)
* [9] [Breadth First Search or BFS for a Graph](https://www.geeksforgeeks.org/breadth-first-search-or-bfs-for-a-graph/)